<div class="main-container">
  <div class="content-box">
    <div class="row-container">
      <div class="grid-big">
        @for (i of grid25;track i) {
          <div class="cell-a"></div>
        }
      </div>
      <div class="grid-sm">
        @for (i of grid20;track i) {
          <div class="cell-l"></div>
        }
      </div>
      <div class="grid-big">
        @for (i of grid25;track i) {
          <div class="cell-b"></div>
        }
      </div>
      <div class="grid-sm">
        @for (i of grid20;track i) {
          <div class="cell-i"></div>
        }
      </div>
    </div>
    <div class="row-container">
      <div class="grid-big">
        @for (i of grid25;track i) {
          <div class="cell-g"></div>
        }
      </div>
      <div class="grid-big">
        @for (i of grid25;track i) {
          <div class="cell-p"></div>
        }
      </div>
      <div class="grid-big">
        @for (i of grid25;track i) {
          <div class="cell-t"></div>
        }
      </div>
    </div>
  </div>
  <div class="content-box">
    <div class="progress">
      <span class="progress-indicator">{{loadingText}}</span>
      <div class="progress-done">
      </div>
    </div>
  </div>
</div>

<div class="grid-bg">
  @for (i of grid200;track i) {
    <span class="bg"></span>
  }
</div>
