@defer (on timer(1s)) {
  <h1 class="txt">Junit parallel test execution setup</h1>
}

@defer (on timer(2s)) {
  <h1 class="txt" [hidden]="!parsingDone()">Step I</h1>
  <div class="code" clipboard markdown
       [clipboardButtonComponent]="clipboardButton"
       [hidden]="!parsingDone()"
       (ready)="onParseReady(0)">{{ properties }}
  </div>
}

@defer (on timer(3s)) {
  <h1 class="txt" [hidden]="!parsingDone()">Step II</h1>
  <div class="code" clipboard markdown
       [clipboardButtonComponent]="clipboardButton"
       [hidden]="!parsingDone()"
       (ready)="onParseReady(0)">{{ annotation }}
  </div>
}

@defer (on timer(4s)) {
  <h1 class="txt" [hidden]="!parsingDone()">Step III</h1>
  <div class="code" clipboard markdown
       [clipboardButtonComponent]="clipboardButton"
       (ready)="onParseReady(0)">{{ code }}
  </div>
}
