<h1 class="txt">Junit parallel test execution setup</h1>
@defer(on timer(1s)) {
  <h1 class="txt">Step I</h1>
  <div clipboard markdown [clipboardButtonComponent]="clipboardButton">{{ properties }}</div>
}

@defer(on timer(2s)) {
  <h1 class="txt">Step II</h1>
  <div clipboard markdown [clipboardButtonComponent]="clipboardButton">{{ annotation }}</div>
}

@defer(on timer(3s)) {
  <h1 class="txt">Step III</h1>
  <div clipboard markdown [clipboardButtonComponent]="clipboardButton">{{ code }}</div>
}@loading{
 <p>loading '3'</p>
}
