#portrait {
  font-size: 4px;
  background-color: #000000;
  color: #ffffff;
  padding: 4px 5px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #portrait {
    font-size: 3px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  #portrait {
    font-size: 1.75px;
    overflow-x: scroll;
  }
}

