<div class="message-box">
          <textarea #questionBox
                    tabindex="0"
                    rows="1"
                    placeholder="Ask question"
                    data-gramm="false"
                    data-gramm_editor="false"
                    data-enable-grammarly="false"
          ></textarea>
  <button (click)="path.classList.add('sent')" #btn>
        <span data-state="closed">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"
               stroke-width="2">
            <path #path
                  d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                  fill="currentColor">
            </path>
          </svg>
        </span>
  </button>
</div>
<div class="terminal" [id]="'q-'+dialogElem.id">
  <div id="wave" *ngIf="questionInProgress()">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <pre [id]="'a-'+dialogElem.id" #terminal></pre>
  <ng-template adHost></ng-template>
</div>
