// Define the color variables
$background-color: #000022;
$scrollbar-track-color: rgba(255, 255, 255, 0.3);

html, body {
  background: $background-color;
  height: max-content;

}

// Custom scroll bar
div.content-base {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }

  //& Chrome, Edge and Safari &/
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    width: 4px;
    border-radius: 2px;
    background-color: $scrollbar-track-color;

    &:hover {
      background-color: $scrollbar-track-color;
    }

    &:active {
      background-color: $scrollbar-track-color;
    }
  }


  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.85);
    border: 6px solid rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

}


